/* Основной Layout */
.appLayout {
  height: 100%;
  width: 100%;
}

/* Вложенный Layout */
.appInnerLayout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Content */
.appContent {
  overflow: hidden;
  padding: 16px;
  flex: 1;
}
