.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #fafafa;
}


.messageBlock {
    max-width: 100%;
}

.messageHeaderTest {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
    margin-bottom: 6px;
}

.date {
    color: black;
}

.messageContent {
    all: unset;
    display: revert;
    font-size: 14px;
    color: black;
    padding: 14px;
    border: 1px solid var(--color-border-primary);
    background: var(--color-surface-primary);
    border-radius: 6px;
    white-space: pre-wrap;
    line-height: 1.25;
    word-wrap: break-word;
}