/* ---------- Header ---------- */

.wrapperSignIn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.containerSignInForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logoBoxSx {
  width: 64px;
  height: 64px;
  background: linear-gradient(180deg, #3B82F6 0%, #1E40AF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1), 0px 10px 15px rgba(0,0,0,0.1);
}

.logoTextSx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoH1 {
  color: #111827;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 36px;
}

.logoH2 {
  color: #6B7280;
  margin-top: 0.75rem;
  margin-bottom: 3rem;
  font-size: 0.875rem;
  line-height: 20px;
}

.footer_logoH3 {
  margin-top: 1.0625rem;
}

.logoH3 {
  color: #9CA3AF;
  font-size: 0.75rem;
}