.main {
    font-size: 1rem;
    overflow: hidden;
    display: flex;
    height: 100%;
}

.listContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    padding: 32px;
}

.filtersContainer {
    width: 240px;
    padding: 32px;
    overflow-y: auto;
    border-left: 1px solid var(--color-border-primary);
    background: var(--color-surface-primary);
}

.filtersSet {
    display: flex;
    flex-direction: column;
    gap: 8px;
}