.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 200px;
  max-height: 200px;
  padding: 16px;
}

.editor {
  overflow: auto;
  border-radius: 8px;
  background-color: #ffffff;
}

.toolbarContainer {
  display: flex;
  align-items: center;
  padding: 16px;
}

.toolbar {
  display: flex;
  flex: 1;
  border: none !important;
}
