.header {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid var(--semi-color-border)
}

.nicknameCrossWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subject {
    margin: 0;
    font-size: 18px;
    color: #222;
}