.main {
    padding: 20px;
    font-size: 1rem;
}

.ticketCard {
    border: 1px solid var(--color-border-primary);
    border-radius: 8px;
    background: var(--color-surface-primary);
    background-clip: padding-box;
    display: flex;
    overflow: clip;
}

.ticketCard:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
}

.highlighter {
    min-width: 8px;
}

.highlighterAccent {
    background-color: var(--color-accent-primary);
}

.highlighterSuccess {
    background-color: var(--color-success-primary);
}

.highlighterWarning {
    background-color: var(--color-warning-primary);
}

.highlighterPrimary {
    background-color: var(--color-danger-primary);
}

.ticketMain {
    flex: 1;
    padding: 16px 32px;
}

.ticketTitle {
    font-weight: bold;
    margin: 0 0 12px 0;
    font-size: 18px;
    line-height: 28px;
}

.ticketDescription {
    margin: 0 0 12px 0;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.5em;
    height: 3em;
}

.ticketFooter {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}

.ticketId {
    font-weight: 500;
}

.ticketDates {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.ticketImportant {
    width: 180px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid var(--color-border-primary);
}

.ticketImportantAccent {
    background: var(--color-accent-background);
}

.ticketImportantSuccess {
    background: var(--color-success-background);
}

.ticketImportantDanger {
    background: var(--color-danger-background);
}

.ticketImportantWarning {
    background: var(--color-warning-background);
}